{% extends  "base.html" %}
{% load static %}

    <!--CONTENT-->
      {% block content %}
        <button><a href="{% url "mentor-add" %}" class="btn btn-success btn-lg">Add New Mentor</a></button><br>
        <section class="trainers-container">
            <table class="styled-table">
                <tbody>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Birthdate</th>
                    <th>Hometown</th>
                    <th>Home Country</th>
                    <th>Current Residence</th>
                    <th>Email</th>
                    <th>Actions</th>
                  </tr>
                  {% for mentor in mentors%}
                  <!--ASH-->
                  <tr>
                    <td>{{ mentor.firstName }}</td>
                    <td>{{ mentor.lastName }}</td>
                    <td>{{ mentor.birthdate }}</td>
                    <td>{{ mentor.homeTown }}</td>
                    <td>{{ mentor.homeCountry }}</td>
                    <td>{{ mentor.curAddr }}</td>
                    <td>{{ mentor.email }}</td>
                    <td>
                      <a href="mentor_list/{{ mentor.id }}" >Edit</a> |
                      <a href="mentor_list/{{ mentor.id }}/delete" >Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                  
                </tbody>
            </table>
        </section>
          <div>
            {% include 'includes/pagination.html' %}
          </div>
      {% endblock %}
  </body>

  {% include 'includes/footer.html' %}
</html>